.formDiv {
  right: 0;
  margin: 20px;
  max-width: 430px;
  padding: 16px;
  color:white;
  background-color:black;
  box-shadow: 3px 0px 10px 4px #050505;
  border-radius: 10px;
  margin-left:403px;
 font-family: 'Roboto', sans-serif;
 margin-top: -3px;
  
}
.imgBackground {
  z-index: -1;
}

.formStyle {
  display: block;
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  color: white;
  box-shadow: 3px 0px 10px 4px #050505;
}

.landscape {
  background-image: url("../../image/BackGroundFond.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 900px;
}

.buttonVolverForm{
  margin-left: 26px;
  display: flex;
  color: white;
  background-color:  white ;
  color:black;
   border-radius: 50px;
  text-align: center;
  justify-content: space-between;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Shippori Antique B1', sans-serif;
  margin-left: 355px;
  
}


.buttonCreate{
  border-radius: 50px;
  color: white;
  padding: 15px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color:black;
}

.inputForm:invalid{
  background-color: red;
}